@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.ErrorText {
  color: red;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-top: 10px;
}